@import url('./global.css');

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var( --font-size-text1);
}

.nav-header ul li .active{
    color: var(--color-white);
}
.container-btn-header{
    display: flex;
    gap: 40px;
}
.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}
.btn-primary{
    background-color: var(--color-green);
    color: #000;
    font-family:  var(--font-family-alexandria);
    padding: 10px 24px;
    border-radius: 40px;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}
.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    align-self: self-start;
    gap: 8px;
    padding: 10px 12px;
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    width: 521px;
    font-family: var(--font-family-alexandria);
}

.content-main p{
    color: var(--color-gray1);
    font-family: var(--font-family-Inter);
    font-size: var( --font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    font-family: var(--font-family-alexandria);
}

.btn-secundary{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    padding: 14px 24px;
    gap: 6px;
}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-gray4);
    padding: 40px 0;
}
.section-partners h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners{
    display: flex;
    gap: 50px;
    align-items: center;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding: 60px 0;
}
.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content-breakdown span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}
.content-breakdown h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    color: var(--color-white);
    font-weight: 400;
}
.content-breakdown p{
    font-family: var(--font-family-Inter);
    width: 572px;
    text-align: center;
    color: var(--color-gray1);
}
.container-cards-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #ffffff04;
    border: 1px solid var(--color-gray3);
    border-radius: 12px;     
}
.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-Inter);
    font-weight: 400;
}
.card-breakdown div p{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
    width: 338px;
}
.section-statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
    background-color: var(--color-gray4);
}
.content-statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-statistic span{
    display: flex;
    flex-direction: column;
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    padding: 12px 20px;
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
}
.content-statistic h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}
.content-statistic p{
    color: var(--color-gray1);
    font-family: var(--font-family-Inter);
    font-size: var(--font-size-button);
    width: 644px;
    text-align: center;
    line-height: 140%;
}

.container-number-statistic{
    display: flex;
    justify-content: center;
    gap: 77px;
}
.number-statistic{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.number-statistic h3{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    font-weight: 400;
}
.number-statistic p{
    color: var(--color-gray1);
    font-family: var(--font-family-Inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}