@import url('./global.css');

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var( --font-size-text1);
}

.nav-header ul li .active{
    color: var(--color-white);
}
.container-btn-header{
    display: flex;
    gap: 40px;
}
.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}
.btn-primary{
    background-color: var(--color-green);
    color: #000;
    font-family:  var(--font-family-alexandria);
    padding: 10px 24px;
    border-radius: 40px;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}
.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    align-self: self-start;
    gap: 8px;
    padding: 10px 12px;
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    width: 521px;
    font-family: var(--font-family-alexandria);
}

.content-main p{
    color: var(--color-gray1);
    font-family: var(--font-family-Inter);
    font-size: var( --font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    font-family: var(--font-family-alexandria);
}

.btn-secundary{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    padding: 14px 24px;
    gap: 6px;
}
